.radio {
  align-items: center;
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-brand);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  position: relative;
}

.radio:hover {
  background: var(--color-accent);
}

.radio label {
  padding: 1em;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.radio input[type='radio'] {
  margin: 0;
  cursor: pointer;
  flex-shrink: 0;
  accent-color: var(--color-brand);
}
